<!DOCTYPE html>
<html lang="en" ng-app="searchApp">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="styles.css">-->

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body>

    <div ng-controller="SearchController" style="margin: 50px;" class="centre">
        <div class="input-field">
            <input id="search" placeholder="Search" type="text" ng-model="query" ng-change="search()" class="validate">
            <label for="search">Search</label>
        </div>
        <div ng-repeat="result in results">
            <div>
                <div class="card blue-grey darken-1">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div class="activator"></div>
                    </div>
                    <div class="card-content white-text">
                        <p><span class="card-title grey-text text-darken-4"><a style="color:#0B0080" ng-href="{{result.link}}">{{result.title}} </a></span></p>
                        <p><span class="grey-text text-lighten-4">{{result.link}}</span></p>
                        <p><span class="grey-text text-lighten-4">{{result.description}}</span></p>
                        <div class="activator card-action">
                            <span>{{result.lastModified}}</span>
                            <span>;</span>
                            <span>{{result.size}}</span>
                            <i class="material-icons right">more</i>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                        <span>Most frequent words: {{result.topWordCounts}}</span>
                        <table class="striped">
                            <tbody>
                            <tr>
                                <th data-field="id">Parent Links</th>
                            </tr>
                            <tr ng-repeat="link in result.parentLinks">
                                <td><a>{{link}}</a></td>
                            </tr>
                            <tr>
                                <th data-field="id">Child Links</th>
                            </tr>
                            <tr ng-repeat="link in result.childLinks">
                                <td><a>{{link}}</a></td>
                            </tr>
                            </tbody>
                    </div>
                </div>
                <!--<div class="card blue-grey darken-1">-->
                    <!--<div class="card-content white-text">-->
                        <!--<span class="activator"><a ng-href="{{result.link}}">{{result.title}} </a></span>-->
                        <!--<p>-->
                            <!--{{result.description}}-->
                        <!--</p>-->
                        <!--<i class="material-icons right">more_vert</i>-->
                        <!--<p>-->
                            <!--<div>-->
                            <!--{{result.lastModified}}-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--{{result.size}}-->
                            <!--</div>-->
                        <!--</p>-->
                        <!--<div class="card-reveal">-->
                            <!--<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>-->
                            <!--<p>{{result.topWordCounts}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/controller.js"></script>
</body>
</html>